<html>
  <head>
    <link href=/assets/style.css type=text/css rel=stylesheet />
  </head>
  <body>
    <h1>Person <%= ID %>!</h1>
    <br>
    <h1>Which uses nodemon to update automatically!</h1>
    <h2>Querystring Value: <%= querystring %><h2>
  </body>
</html>
